---
layout: default
---

<!--         Aufbau für die einzelnen Seiten des Projektes festlegen         -->
<!----------------------------------------------------------------------------->
<header class="page-header">       <!--   Kopfbereich für Seiteninfo         -->
   <div class="seitenkopf">        <!--   Box für den Seitenkopf             -->
    <h1>
      {{page.title}}               <!--   Seitentitel in der Box             -->
    </h1>
  <p>
      {{page.description}}         <!--   Beschreibung der Seite (optional)  -->
    </p>
  </div>
</header>

<div class="container container--gallery">
  {{ content }}
</div>
